<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><h1>About The App...</h1></h1>
    <p class="lead">Welcome to our new website, where you can create, edit, delete, and store all of your friends in one convenient place. With our easy-to-use platform, you can organize your friends list, keep track of important information about each friend, and stay connected with the people who matter most to you. Whether you're looking to keep in touch with old friends, meet new people, or simply stay organized, our website is the perfect solution. So why wait? Sign up today and start building your ultimate friends list! -Andrew Lombardi</p>
  </div>
</div>



